/**
 * Canvas layout: u-canvas-layout
 * @nuclide Var Canvas layout
 * @section Variables Canvas > Class Canvas layout
 */
.u-canvas-layout {
  display: block;
  width: 90%;
  max-width: $canvas-max-width;
  margin: 0 auto;
}

/**
 * Canvas layout: u-canvas-inner
 * @nuclide Var Canvas layout inner
 * @section Variables Canvas > Class Canvas layout inner
 */
.u-canvas-inner {
  display: block;
  width: 90%;
  max-width: $canvas-inner-width;
  margin: 0 auto;
}
.u-canvas-inner_sm {
  width: $canvas-inner-width_sm;
  max-width: $canvas-inner-width_sm;
  margin: 0 auto;
}


@media all and (min-width: 769px) {
  .layout-2cols {
    display: flex;
  }
}