/**
 * Canvas: MW 1400px
 * @nuclide Var Canvas
 * @section Variables Canvas > Canvas layout
 */
$canvas-max-width: 1440px;
/**
 * Canvas: MW 1110px
 * @nuclide Var Inner Canvas
 * @section Variables Canvas > Canvas inner width
 */
$canvas-inner-width: 1110px;

/**
 * Canvas: MW 316px
 * @nuclide Var Inner Canvas SM
 * @section Variables Canvas > Canvas inner width sm
 */
$canvas-inner-width_sm: 316px;
