// SECTION PRIMARY

/**
 * #3A83AB
 *
 * @color
 * @section Primary Colors
 */
$c-primary: #3A83AB;
/**
 * #D4E4ED
 *
 * @color
 * @section Primary Colors
 */
$c-primary_10: #D4E4ED;
/**
 * #366884
 *
 * @color
 * @section Primary Colors
 */
$c-primary_100: #366884;

// SECTION SECONDARY

/**
 * #FC6C25
 *
 * @color
 * @section Secondary Colors
 */
$c-secondary: #FC6C25;

// SECTION ON TEXT

/**
 * #595D6E
 *
 * @color
 * @section On Text Colors
 */
$c-on-text: #595D6E;
/**
 * #353535
 *
 * @color
 * @section On Text Colors
 */
$c-on-text_100: #353535;

// SECTION ON BORDER

/**
 * #C4C4C4
 *
 * @color
 * @section On Border Colors
 */
$c-on-border: #C4C4C4;
/**
 * #D9D9D9
 *
 * @color
 * @section On Border Colors
 */
$c-on-border_10: #D9D9D9;

// SECTION ON ALERT

/**
 * #9BC19F
 *
 * @color
 * @section On Alert Colors
 */
$c-on-success: #9BC19F;
/**
 * #D86565
 *
 * @color
 * @section On Alert Colors
 */
$c-on-error: #D86565;
/**
 * #DFABAB
 *
 * @color
 * @section On Alert Colors
 */
$c-on-error_10: #DFABAB;

// SECTION UTILS

/**
 * #1DC9B7
 *
 * @color
 * @section Utils Colors
 */
$c-green_10: #1DC9B7;
/**
 * #366CF3
 *
 * @color
 * @section On Utils Colors
 */
$c-blue_10: #366CF3;
/**
 * #222
 *
 * @color
 * @section On Utils Colors
 */
$c-overlay: #222;
/**
 * #FFF
 *
 * @color
 * @section On Utils Colors
 */
$c-neutro: #FFF;