// Variables icomoon V1.0
$i-arrow-down: "\e901";
$i-burger-menu: "\e902";
$i-calendar: "\e904";
$i-close: "\e905";
$i-eye_hide: "\e906";
$i-eye_show: "\e907";
$i-home: "\e908";
$i-nike: "\e909";
$i-setting: "\e90a";
$i-sheet: "\e90b";