/**
 * The relative path to the image assets folder.
 *
 * @nuclide Path Media-Folder
 * @section Config > Paths
 */

 $path-media: "/assets";

 /**
 * The relative path to the fonts assets folder.
 *
 * @nuclide Path Fonts-Folder
 * @section Config > Paths
 */

 $path-fonts: "/assets/fonts";

/**
   * The relative path for the icons
   * @nuclide icomoon font-family ico-app
   * @section Config > Paths
   */
$ico-font-family: "ico-app" !default;