/**
 * Font size: 16px vlue in pixels
 * @nuclide Font Styles
 * @section Variables Typo > Font Size basis HTML
 */
$font-size-base: 16px;

/**
  * Font family: 'Roboto Condensed'
  * @nuclide Font Styles
  * @section Variables Typo > Font Styles Roboto
  */
$f-default: 'Roboto Condensed',
sans-serif;

/**
   * Font family: 'Oswald'
   * @nuclide Font Styles
   * @section Variables Typo > Font Styles Oswald
   */
$f-primary: 'Oswald',
sans-serif;

/**
   * font-weight | Font family: Roboto | Oswald - Light
   * @nuclide Font Styles
   * @section Variables Typo > Font Styles
 */
$f-light: 300;
/**
   * font-weight | Font family: Roboto | Oswald - Medium
   * @nuclide Font Styles
   * @section Variables Typo > Font Styles
 */
$f-medium: 400;
/**
   * font-weight | Font family: Roboto | Oswald - Bold
   * @nuclide Font Styles
   * @section Variables Typo > Font Styles
 */
$f-bold: 700;