//- Extend for componente dropdown
.cmp-dropdown.is-dropdown-hide 
  button.cmp-dropdown__btn.js-dropdown-action.i-after-burger-menu
    h3
      //- Copy for title dropdown
      block title
  .cmp-dropdown__content
    //- Content that is show or hide of dropdown
    block content