.cmp-alert {
  display: none;
  margin-bottom: 24px;
  border-radius: 4px;
  padding: 16px 24px;
  color: $c-neutro;

  &_danger {
    background-color: $c-on-error_10;
  }

  &_success {
    background-color: $c-on-success;
  }
}

.cmp-alert__title {
  font-weight: $f-bold;
}

.cmp-alert__list {
  margin-top: 16px;
  margin-left: 24px;
  list-style: circle;
}

.cmp-alert__item {
  margin-bottom: 8px;
}