.cmp-form__control,
.cmp-form__radio {
  margin-bottom: 16px;
}

.cmp-form__control {
  position: relative;
}

.cmp-form__control-label {
  display: block;
  margin-bottom: 8px;
  font-weight: $f-light;
  font-size: 16px;
  color: $c-on-text_100;
}

.cmp-form__control-label_pass {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 8px;
  font-size: 25px;
  color: $c-on-border;
  cursor: pointer;
}

.cmp-form__control-input {
  width: 98%;
  min-height: 32px;
  border-radius: 2px;
  border: 1px solid $c-on-border;
  padding: 0 0 0 10px;
  outline: none;
  -webkit-appearance: none;
}

.cmp-form__radio {
  display: flex;
  flex-wrap: wrap;

  .cmp-form__control-label {
    flex: 1 100%;
  }
}

.cmp-form__radio-box {
  position: relative;
  font-weight: 300;

  &:last-of-type {
    margin-left: 16px;
  }
}

.cmp-form__radio-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;

  &:checked {
    &+.cmp-form__radio-label {
      &::before {
        border-color: $c-primary_100;
        color: $c-neutro;
        background-color: $c-primary_100;
      }
    }
  }

  &:hover {
    &+.cmp-form__radio-label {
      &::before {
        border-color: $c-primary_100;
      }
    }
  }
}

.cmp-form__radio-label {
  display: flex;
  align-items: center;

  &::before {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $c-on-border;
    margin-right: 16px;
    font-size: 12px;
    color: transparent;
    transition: all .2s ease-in-out;
  }
}

.cmp-form__action {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}