.cmp-dropdown {
  border-top: 1px solid $c-on-border;
  border-right: 0;
  border-bottom: 1px solid $c-on-border;
  border-left: 0;

  // Delete border top in second dropdown
  &:last-of-type {
    border-top: none;
  }
}

.cmp-dropdown__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  padding: 19px;
  font-weight: $f-medium;
  font-family: $f-primary;
  font-size: 16px;
  text-align: left;
  color: $c-on-border;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover,
  &:active {
    background-color: rgba($c-on-border_10, .2);
  }
}

.cmp-dropdown__content {
  width: 80%;
  margin: 0 auto;
  padding: 24px 0;
  transition: all .3s ease-in-out;
}

// class that hide the dropdown
.is-dropdown-hide {

  // hide content of dropdown
  .cmp-dropdown__content {
    height: 0;
    padding: 0;
    font-size: 0;
    opacity: 0;
    overflow: hidden;
  }
}

.is-dropdown-show {

  // change color of button
  .cmp-dropdown__btn {
    color: $c-primary;
  }

  .cmp-dropdown__content {
    opacity: 1;
    overflow: visible;
  }
}