.cmp-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 56px 0;
}

@media all and (min-width: 1024px) {
  .cmp-auth {
    &.u-canvas-inner_sm {
      width: 40%;
      max-width: 40%;
    }
  }
}
