/**
 * Hero component with informative text and image.
 *
 * @molecule Hero
 * @section 01 | Components Informative
 * @markup
 *  <figure class="cmp-hero">
 *    <img class="u-img cmp-hero__img" src="/assets/imgs/students_in_the_park.jpeg" alt="Students in the park">
 *    <figcpation class="cmp-hero__caption u-canvas-layout">
 *      <h1 class="cmp-hero__title">APRENDAMOS JUNTOS</h1>
 *      <p class="cmp-hero__txt">Un proyecto de educación para un <span class="cmp-hero__mark">aprendizaje mejor</span>.</p>
 *    </figcpation>
 *  </figure>
 */
.cmp-hero {
  position: relative;
  height: 270px;

  // Overlay for the hero image
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .6;
    background-color: $c-overlay;
  }
}

.cmp-hero__caption {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 212px;
  color: $c-neutro;
  z-index: 2;
}

.cmp-hero__title {
  position: relative;
  padding-bottom: 16px;
  font-family: $f-primary;
  font-size: 40px;
  line-height: .9;

  // Line that divider the title and the text
  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 55%;
    height: 4px;
    background-color: $c-primary;
  }
}

.cmp-hero__txt {
  margin-top: 16px;
  font-weight: $f-light;
  font-size: 18px;
}

.cmp-hero__mark {
  font-weight: $f-medium;
  color: $c-primary;
}

.cmp-hero__img {
  height: 100%;
  object-fit: cover;
  object-position: right;
}

@media all and (min-width: 769px) {
  .cmp-hero {
    width: 50%;
    height: 100vh;
  }

  .cmp-hero__title {
    font-size: 60px;
  }

  .cmp-hero__txt {
    font-size: 20px;
  }

}

@media all and (min-width: 1281px) {

  .cmp-hero__caption {
    max-width: 422px;
  }

  .cmp-hero__title {
    font-size: 80px;
  }

  .cmp-hero__txt {
    font-size: 24px;
  }
}