/**
 * @atom Button
 * @section Navigation > Buttons
 * @description
 *  Buttons for various purposes.
 * @modifiers
 *  .cmp-button_outline Only borders
 *  .cmp-button_outline With color $c-on-error
 * @markup
 *   <button class="obj-button">A button</button>
 *   <div style="background-color: grey; margin:8px 0; padding: 4px;">
 *    <button class="obj-button obj-button_outline">
 *      A button
 *    </button>
 *   </div>
 *   <button class="obj-button obj-button_danger">A button</button>
 *   <div style="margin:8px 0;">
 *    <button class="obj-button obj-button_danger-outline">
 *      A button
 *    </button>
 *   </div>
 */
.obj-button {
  border: 1px solid $c-primary;
  border-radius: 4px;
  padding: 4px 16px;
  font-size: 18px;
  color: $c-neutro;
  background-color: $c-primary;
  cursor: pointer;
  outline: none;

  &_outline {
    background-color: transparent;
    border-color: $c-neutro;
  }

  &_danger {
    border-color: $c-on-error;
    background-color: $c-on-error;

    &-outline {
      max-width: 126px;
      border-color: $c-on-error;
      padding: 4px 10px;
      font-size: 12px;
      color: $c-on-error;
      background-color: transparent;
    }
  }
}

/**
 * @atom Links
 * @section Navigation > Links
 * @description
 *  Links for redirects to pages od the site or external.
 * @markup
 *   <a class="obj-link" href="#">A link</a>
 */

.obj-link {
  font-size: 26px;
  color: $c-primary_100;
  text-decoration: underline;
  transition: opacity .2s ease-in;

  &_sm {
    font-size: 14px;
  }

  &:hover {
    text-decoration: none;
    opacity: .7;
  }
}