/**
 * @atom Texts
 * @section Typography > Texts
 * @description
 *  Text for paragraphs
 * @modifiers
 *  .obj-text_mark Text mark
 * @markup
 *   <p class="obj-text">Demasiado interesante el tema, es increible que nos enseñen sobre estas cosas para tener mas precauciones.  Mil gracias :)</p>
 *   <p class="obj-text obj-text_mark">A text primary witk mark</p>
 */
 .obj-text {
   margin-bottom: 8px;
  font-family: $f-default;
  font-weight: $f-light;
  font-size: 20px;
  line-height: .9;
  color: $c-primary_100;

  &_mark {
    color: $c-secondary;
  }
}