/**
 * @atom Titles
 * @section Typography > Title
 * @description
 *  Titles for sections or blocks.
 * @modifiers
 *  .obj-title_section Title for sections of the page
 * @markup
 *   <h1 class="obj-title">A Title Primary for section</h1>
 *   <h1 class="obj-title obj-title_section">A Title for section</h1>
 */
.obj-title {
  width: 100%;
  min-width: 330px;
  max-width: 550px;
  margin-bottom: 16px;
  font-family: $f-primary;
  font-weight: $f-bold;
  font-size: 60px;
  line-height: 0.9;
  color: $c-primary_100;

  &_section {
    font-weight: $f-medium;
    font-size: 36px;
  }
}

/**
 * @atom Titles
 * @section Typography > Subtitles
 * @description
 *  Subtitles for sections or blocks.
 * @modifiers
 *  .obj-subtitle_primary Color with color var is primary
 * @markup
 *   <h2 class="obj-subtitle">A Title Primary for section</h2>
 *   <h3 class="obj-subtitle obj-subtitle_primary">A Title for section with color primary</h3>
 */

.obj-subtitle {
  font-family: $f-primary;
  font-weight: $f-bold;
  font-size: 30px;
  color: $c-primary_100;

  &_primary {
    color: $c-primary;
  }
}