-
  var control_forms = [
    { id: 'name', label: 'Nombre', type: 'text', placeholder: 'Andres' },
    { id: 'lastname', label: 'Apellidos', type: 'text', placeholder: 'Tafur Saavedra' },
    { id: 'email', label: 'Correo Electronico', type: 'email', placeholder: 'tafursla@outlook.com' },
    { id: 'type_user', label: 'Tipo de usuario', type: 'radio', value_one: 'Estudiante', value_two: 'Profesor', radio:'true' },
    { id: 'matricula', label: 'Número de matricula', type: 'text', placeholder: '548645131' },
    { id: 'uniqueid', label: 'ID Profesor', type: 'text', placeholder: '11028710' },
    { id: 'pass', label: 'Contraseña', type: 'password', placeholder: '*******', icon_eye:'true' },
    { id: 'confirpass', label: 'Confirmar contraseña', type: 'password', placeholder: '*******', icon_eye:'true' }
  ]

.cmp-alert.cmp-alert_danger
  h3.cmp-alert__title Por favor verifica los siguientes errores:
  ul.cmp-alert__list
    li.cmp-alert__item  El campo nombre es obligatorio
    li.cmp-alert__item  Las contraseñas no coinciden

.cmp-alert.cmp-alert_success
  h3.cmp-alert__title Usuario creado correctamente, prueba #[a(class="obj-link obj-link_sm" href="") iniciando sesión].

form(
  class="cmp-form"
  action="/"
  method="POST"
)
  each control_form in control_forms
    //- Input type radio
    if control_form.radio
      .cmp-form__radio
        p.cmp-form__control-label= control_form.label
        .cmp-form__radio-box
          input(
            id= control_form.value_one
            class="cmp-form__radio-input"
            type= control_form.type
            name= control_form.id
            value= control_form.value_one
          )
          label(
            for= control_form.value_one
            class="cmp-form__radio-label i-nike"
          )= control_form.value_one
        .cmp-form__radio-box
          input(
            id= control_form.value_two
            class="cmp-form__radio-input"
            type= control_form.type
            name= control_form.id
            value= control_form.value_two
          )
          label(
            for= control_form.value_two
            class="cmp-form__radio-label i-nike"
          )= control_form.value_two
    //- Input type text
    else
      .cmp-form__control
        if !control_form.icon_eye
          label(
            class="cmp-form__control-label"
            for=control_form.id
          )= control_form.label
        else
          label(
            class="cmp-form__control-label"
            for=control_form.id
          )= control_form.label
            span(
              class="cmp-form__control-label_pass js-show-pass i-eye_show"
            )
        input(
          id=control_form.id
          type=control_form.type
          placeholder=control_form.placeholder
          class="cmp-form__control-input"
        )

  button(
    class="obj-button cmp-form__action"
    type="submit"
  ) Registrarme

