-
  var control_forms = [
    { id: 'correo', label: 'Correo electronico', type: 'email', placeholder: 'tafursla@outlook.com' },
    { id: 'password', label: 'Contraseña', type: 'password', placeholder: '********', icon_eye: 'true' }
  ]

form(
  class="cmp-form"
  action="/"
  method="POST"
)
  each control_form in control_forms
    .cmp-form__control
      if !control_form.icon_eye
        label(
          class="cmp-form__control-label"
          for=control_form.id
        )= control_form.label
      else
        label(
          class="cmp-form__control-label"
          for=control_form.id
        )= control_form.label
          span(
            class="cmp-form__control-label_pass js-show-pass i-eye_show"
          )
      input(
        id=control_form.id
        type=control_form.type
        placeholder=control_form.placeholder
        class="cmp-form__control-input"
      )

  button(
    class="obj-button cmp-form__action"
    type="submit"
  ) Ingresar

