figure.cmp-hero
  img(
    class="u-img cmp-hero__img"
    src="/assets/imgs/students_in_the_park.jpeg"
    alt="Students in the park"
  )
  figcpation.cmp-hero__caption.u-canvas-layout
    h1.cmp-hero__title APRENDAMOS JUNTOS
    p.cmp-hero__txt Un proyecto de educación para un #[span.cmp-hero__mark aprendizaje mejor].