//- Variables of system
block variables

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Aprende - #{title}
    link(rel="stylesheet" href="./css/main.css")

  body

    main
      block content

  //- Scripts use for functionalities
  include includes/layout/_script