extends _base.pug

block variables
  - 
    var title = "Home"

block content

  .layout-2cols
    //- Hero component
    include includes/components/_hero.pug
    //- Auth component
    include includes/components/_auth.pug