@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Roboto+Condensed:wght@300;400;700&display=swap");

@font-face {
  font-family: "#{$ico-font-family}";
  src: url("#{$path-fonts}/#{$ico-font-family}.eot?");
  src: url("#{$path-fonts}/#{$ico-font-family}.eot?#iefix") format("embedded-opentype"),
  url("#{$path-fonts}/#{$ico-font-family}.ttf?") format("truetype"),
  url("#{$path-fonts}/#{$ico-font-family}.woff?") format("woff"),
  url("#{$path-fonts}/#{$ico-font-family}.svg?##{$ico-font-family}") format("svg");
  font-weight: normal;
  font-style: normal;
}

.i-,
[class^="i-"],
[class*=" i-"] {
  &:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "#{$ico-font-family}" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.i-after-,
[class^="i-after-"],
[class*="i-after-"] {
  &:after {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "#{$ico-font-family}" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

// Variables icomoon v1.0
/**
 * @icon .i-arrow-down
 * @markup
 *  <span class="i-arrow-down"></span>
 */
.i-arrow-down {
  &:before {
    content: $i-arrow-down;
  }
}

/**
 * @icon .i-burger-menu
 * @markup
 *  <span class="i-burger-menu"></span>
 */
.i-burger-menu {
  &:before {
    content: $i-burger-menu;
  }
}
.i-after-burger-menu {
  &:after {
    content: $i-burger-menu;
  }
}

/**
 * @icon .i-calendar
 * @markup
 *  <span class="i-calendar"></span>
 */
.i-calendar {
  &:before {
    content: $i-calendar;
  }
}

/**
 * @icon .i-close
 * @markup
 *  <span class="i-close"></span>
 */
.i-close {
  &:before {
    content: $i-close;
  }
}

/**
 * @icon .i-eye_hide
 * @markup
 *  <span class="i-eye_hide"></span>
 */
.i-eye_hide {
  &:before {
    content: $i-eye_hide;
  }
}

/**
 * @icon .i-eye_show
 * @markup
 *  <span class="i-eye_show"></span>
 */
.i-eye_show {
  &:before {
    content: $i-eye_show;
  }
}

/**
 * @icon .i-home
 * @markup
 *  <span class="i-home"></span>
 */
.i-home {
  &:before {
    content: $i-home;
  }
}

/**
 * @icon .i-nike
 * @markup
 *  <span class="i-nike"></span>
 */
.i-nike {
  &:before {
    content: $i-nike;
  }
}
.i-after-nike {
  &:after {
    content: $i-nike;
  }
}

/**
 * @icon .i-setting
 * @markup
 *  <span class="i-setting"></span>
 */
.i-setting {
  &:before {
    content: $i-setting;
  }
}

/**
 * @icon .i-sheet
 * @markup
 *  <span class="i-sheet"></span>
 */
.i-sheet {
  &:before {
    content: $i-sheet;
  }
}